[submodule "vendor/machine_program_logic"]
	path = vendor/machine_program_logic
	url = git@github.com:logsem/machine_program_logic.git
	branch = schedule_cond
[submodule "vendor/machine_utils"]
	path = vendor/machine_utils
	url = git@github.com:logsem/machine_utils.git
